@page "/institutions"

@using GeolocationLib
@using Gravam.Blazor.DeviceInterop.Geolocation
@using ModelsLib.Models
@using ModelsLib.Models.TabelModels
@using YourPWAName.Models
@using YourPWAName.MyComponents
@inject HttpClient Http
@inject IGeolocationService GeolocationService
@inject IJSRuntime JS
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<PageTitle>Institutions</PageTitle>

<div style="padding: 20px">

	@if(institutions == null && ErrorMessage == null)
	{
		<MudContainer Class="d-flex justify-content-center">
			<MudProgressCircular Color="Color.Primary" Style="height:70px;width:70px;" Indeterminate="true" />

		</MudContainer>
	}
	else if (ErrorMessage != null)
	{
		<MudText Typo="Typo.h6">@ErrorMessage</MudText>
	}
	else
	{
		<div class="d-none d-md-flex">
			<MudTable Items="@searchInstitutions" Hover="true" MultiSelection="true" Dense="true" FixedHeader="true" Height="100vh" Class="parent-card">
				<ToolBarContent>
					<MudText Typo="Typo.h6">Institutions</MudText>
					<MudSpacer />
					<MudTextField T="string" ValueChanged="@(s=>OnSearch(s))" Placeholder="Search more than one - use '//' between names " Adornment="Adornment.Start"
								  AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
				</ToolBarContent>

				<HeaderContent>
					<MudTh></MudTh>
					<MudTh></MudTh>
				<MudTh><MudTableSortLabel SortBy="new Func<InstitutionTableModel, object>(x=>x.InstitutionFrontPageModel.Name)">Name</MudTableSortLabel></MudTh>
					<MudTh><MudTableSortLabel SortBy="new Func<InstitutionTableModel, object>(x=>x.Distance)">Afstand</MudTableSortLabel></MudTh>
					<MudTh><MudTableSortLabel SortBy="new Func<InstitutionTableModel, object>(x=>(int)x.InstitutionFrontPageModel.TypeEnum)">Type</MudTableSortLabel></MudTh>
					<MudTh><MudTableSortLabel SortBy="new Func<InstitutionTableModel, object>(x=>x.InstitutionFrontPageModel.pladser.DagplejePladser)">Pladser</MudTableSortLabel></MudTh>
				</HeaderContent>
				<RowTemplate>
					<MudTh></MudTh>
					<MudTd><MudButton Class="border-none tabelbutton" Size="Size.Small" Variant="Variant.Filled" Disabled="@(!context.ReportTabelModel.Any())" Color="Color.Primary" OnClick="@(() => ShowBtnPress(context.InstitutionFrontPageModel.Id))">@((context.ShowAdditionalInfo == true) ? "luk detaljer" : "vis detaljer")</MudButton></MudTd>
					<MudTd DataLabel="Name">@context.InstitutionFrontPageModel.Name</MudTd>
					<MudTh>@(context.Distance) km</MudTh>
					<MudTd DataLabel="Type">@context.InstitutionFrontPageModel.TypeEnum</MudTd>
					<MudTd DataLabel="Pladser">@(DefinePladser(context.InstitutionFrontPageModel))</MudTd>
				</RowTemplate>
				<LoadingContent>
					<MudText>Loading...</MudText>
				</LoadingContent>
				<ChildRowContent>
					@if (context.ShowAdditionalInfo)
					{
					<MudTr>
					<td colspan="8">
								<MudCard Elevation="0" Class="child">
					<MudCardHeader>
					<CardHeaderContent>
						<div class="d-flex justify-content-between">
							<MudText Typo="Typo.body1"><strong>Email: @context.InstitutionFrontPageModel.Contact.Email </strong></MudText>
												<MudText Typo="Typo.body1"><strong>Tlf: @context.InstitutionFrontPageModel.Contact.Phone </strong></MudText>
							<MudText Typo="Typo.body1"><strong><a target="_blank" href="https://@context.InstitutionFrontPageModel.Contact.HomePage">@context.InstitutionFrontPageModel.Contact.HomePage</a> </strong></MudText>
						</div>
						<MudText Typo="Typo.body1"><strong>Adresse: @context.InstitutionFrontPageModel.address.AddressToString()</strong></MudText>

						<br />
						<MudText Typo="Typo.body1"><strong>Indsatser </strong></MudText>

							
					</CardHeaderContent>
					</MudCardHeader>
						<MudCardContent Class="pa-0 child">
							<MudTable Items="@context.ReportTabelModel" Context="Rapport" Hover="true" Elevation="0" Class="child">
								<HeaderContent>
									<MudTh>Åben Rapport</MudTh>

							@if (context.ReportTabelModel.FirstOrDefault().Criteria is not null)
							{
								@foreach (var indsats in context.ReportTabelModel.FirstOrDefault().Criteria)
								{
									<MudTh>@indsats.CategoriText</MudTh>
								}
							}				
						</HeaderContent>
						<RowTemplate>
							<div class=" mud-table-cell d-flex justify-center align-content-center" style="height:100%">
								<MudIconButton Icon="@Icons.Material.Filled.FileOpen" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Medium" OnClick="@(() => OnFileClicked(Rapport.FileUrl))" />
							</div>

											
						@if (@Rapport.Criteria is not null)
						{
							@foreach (var tt in @Rapport.Criteria)
							{
								<MudTd>@tt.Indsats</MudTd>
							}
						}
						</RowTemplate>
						</MudTable>
					</MudCardContent>
					</MudCard>
					</td>
					</MudTr>
					}
			</ChildRowContent>
			</MudTable>
		</div>

		<div class="d-flex d-md-none">
			<MudTable Items="@searchInstitutions" Hover="true" Dense="true" FixedHeader="false" Height="100vh" Elevation="2" Class="parent-card">
				<ToolBarContent>
					<MudText Typo="Typo.h6">Institutions</MudText>
					<MudSpacer />
					<MudTextField T="string" ValueChanged="@(s=>OnSearch(s))" Placeholder="Search more than one - use '//' between names " Adornment="Adornment.Start"
								  AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
				</ToolBarContent>
				<HeaderContent>
					<MudTh><MudTableSortLabel SortBy="new Func<InstitutionTableModel, object>(x=>x.Distance)">Afstand</MudTableSortLabel></MudTh>
				</HeaderContent>

			
				<RowTemplate>
					<MudTd DataLabel="Name">@context.InstitutionFrontPageModel.Name</MudTd>
					<MudTd DataLabel="Pladser">@(DefinePladser(context.InstitutionFrontPageModel))</MudTd>
					<MudTd DataLabel="Type">@context.InstitutionFrontPageModel.TypeEnum</MudTd>
					<MudTd DataLabel="Afstand">@(context.Distance) km</MudTd>
					<MudTd><MudButton Class="border-none" Disabled="@(!context.ReportTabelModel.Any())" Size="Size.Small" Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => ShowBtnPress(context.InstitutionFrontPageModel.Id))">@((context.ShowAdditionalInfo == true) ? "luk detaljer" : "vis detaljer")</MudButton></MudTd>

				</RowTemplate>
				<ChildRowContent>
					@if (context.ShowAdditionalInfo)
					{
						<MudTr>
							<td colspan="8">
								<MudCard Elevation="0" Class="child">
									<MudCardHeader>
										<CardHeaderContent>
												<MudText Typo="Typo.body1"><strong>Email: @context.InstitutionFrontPageModel.Contact.Email </strong></MudText>
												<MudText Typo="Typo.body1"><strong>Tlf: @context.InstitutionFrontPageModel.Contact.Phone </strong></MudText>
											<MudText Typo="Typo.body1"><strong><a target="_blank" href="https://@context.InstitutionFrontPageModel.Contact.HomePage">@context.InstitutionFrontPageModel.Contact.HomePage</a> </strong></MudText>
											<MudText Typo="Typo.body1"><strong>Adresse: @context.InstitutionFrontPageModel.address.AddressToString()</strong></MudText>


											<br />
											<MudText Typo="Typo.body1"><strong>Indsatser </strong></MudText>
												
										</CardHeaderContent>
									</MudCardHeader>
									<MudCardContent Class="pa-0">
										<MudTable Items="@context.ReportTabelModel" Context="Rapport" Hover="true" Elevation="0" Class="child">
										<RowTemplate>

												<MudTd DataLabel="Åben Rapport">
												<div class=" mud-table-cell d-flex justify-center align-content-center" style="height:100%">
														<MudIconButton Icon="@Icons.Material.Filled.FileOpen" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Medium" OnClick="@(() => OnFileClicked(Rapport.FileUrl))" />
													</div>
											</MudTd>
												@if (@Rapport.Criteria is not null)
											{
												@foreach (var tt in @Rapport.Criteria)
												{
													<MudTd Class="d-flex tester" DataLabel="@tt.CategoriText">@tt.Indsats</MudTd>
												}
											}
											
										</RowTemplate>
									</MudTable>
								</MudCardContent>
							</MudCard>
						</td>
					</MudTr>
					}
				</ChildRowContent>
			</MudTable>
		</div>
	}

	<Modal @ref="modal" Title="Modal title" Style="margin-top: 100px">
		<BodyTemplate>
			<InstitutionSettings @ref="institutionSettingsComponent" />
		</BodyTemplate>
		<FooterTemplate>
			<Button Color="ButtonColor.Secondary" @onclick="OnHideModalClick">Close</Button>
			<Button Color="ButtonColor.Primary" @onclick="OnSaveChanges">Save changes</Button>
		</FooterTemplate>
	</Modal>

</div>


<div class="top-right-fixed" >
	<Button Variant="Variant.Filled" @onclick="OnShowModalClick">
		<img src="search_24dp.png" alt="Search Icon" class="custom-icon-size" />
	</Button>
 </div>

<style>
	.top-right-fixed {
		position: fixed;
		top: 10%;
		right: 0;
		color: #fff; /* Optional: for visibility */
		border: solid;
		border-color: black;
		border-right-color: white;
		border-bottom-left-radius: 20px;
		border-top-left-radius: 20px;
		z-index: 99
	}

	.custom-icon-size {
		width: 16px;
		height: 16px;
	}

	.parent-card {
		background-color: white;
		.child

	{
		background-color: @Colors.Blue.Lighten4;
		font-size: 10px;
	}

	.child * {
		font-size: inherit; /* Inherit the font size from the container */
	}

	}

	.tabelbutton {
		font-size: 10px;
	}
	

</style>


@code {

	private InstitutionSettings institutionSettingsComponent;
	private static string ErrorMessage { get; set; } = null;
	private static Gravam.Blazor.DeviceInterop.Geolocation.GeolocationResult currentPositionResult { get; set; }
	private static IEnumerable<InstitutionTableModel> institutions { get; set; }
	private static IEnumerable<InstitutionTableModel> searchInstitutions { get; set; }
	private string searchString = null;
	private Modal modal;



	protected override async Task OnInitializedAsync()
	{
		var filterKoordinates = await localStorage.GetItemAsync<InstitutionSettingsFilterModel>("locationFilter");
		try
		{
			var client = new HttpClient();
			var ts = await client.GetFromJsonAsync<List<InstitutionTableModel>>("https://tilsynsrapportapi20240608132021.azurewebsites.net/api/Institution");
			// var ts = await client.GetFromJsonAsync<List<InstitutionTableModel>>("https://localhost:7051/api/Institution");

			institutions = ts.OrderByDescending(x => x.InstitutionFrontPageModel.TypeEnum).ToArray();
			if (filterKoordinates is null)
			{
				currentPositionResult = await GeolocationService.GetCurrentPosition();
				AddDistanceCAlculationToInstitution(currentPositionResult.Position.Coords.Latitude, currentPositionResult.Position.Coords.Longitude);

			}else
			{
				AddDistanceCAlculationToInstitution(filterKoordinates.Koordinates.lat, filterKoordinates.Koordinates.lng);

			}

		}
		catch (Exception ex)
		{
			ErrorMessage = ex.Message;
			Console.WriteLine(ex);
		}
	}
	

	private void AddDistanceCAlculationToInstitution(double? searchPointLat, double? searchpointLng)
	{
		foreach (var inst in institutions)
		{
			foreach (var rep in inst.ReportTabelModel)
			{
				rep.Criteria = rep.Criteria.OrderBy(x => x.CategoriText).ToList();
			}
			inst.Distance = GeoCalculationHelper.CalculateDistance(inst.InstitutionFrontPageModel.Koordinates.lat ?? 0.0, inst.InstitutionFrontPageModel.Koordinates.lng ?? 0.0, searchPointLat ?? 0.0, searchpointLng ?? 0.0);
		}

		searchInstitutions = institutions;
	}

	private void ShowBtnPress(Guid nr)
	{
		InstitutionTableModel tmpPerson = institutions.FirstOrDefault(f => f.InstitutionFrontPageModel.Id == nr);
		tmpPerson.ShowAdditionalInfo = !tmpPerson.ShowAdditionalInfo;
	}

	public string DefinePladser(InstitutionFrontPageModel direction)
	{

		if (direction == null || direction.TypeEnum == null || direction.pladser == null)
		{
			return "";
		}

		return direction.TypeEnum switch
		{
			InstitutionTypeEnum.Vuggestue => direction.pladser.VuggestuePladser.ToString(),
			InstitutionTypeEnum.Boernehave => direction.pladser.BoernehavePladser.ToString(),
			InstitutionTypeEnum.Dagpleje => direction.pladser.DagplejePladser.ToString(),
			InstitutionTypeEnum.Integreret => $"Børnehave {direction.pladser.BoernehavePladser}, Vuggestue {direction.pladser.VuggestuePladser}",
			_ => throw new ArgumentOutOfRangeException(nameof(direction), $"Not expected direction value: {direction}"),
		};
	}

	private async void OnSearch(string text)
	{
		searchString = text;

		var searchStrings = searchString.Split("//").ToList();

		searchInstitutions = institutions.Where(element =>
		{
			if (string.IsNullOrWhiteSpace(searchString))
				return true;

			if (searchStrings.Any(s => element.InstitutionFrontPageModel.Name.Contains(s, StringComparison.OrdinalIgnoreCase)))
				return true;
			return false;
		}).ToArray();
	}

	private object OnFileClicked(string fileUrl)
	{
		JS.InvokeVoidAsync("openInNewTab", fileUrl);

		return true;
	}

	private async Task OnShowModalClick()
	{
		await modal?.ShowAsync();
	}

	private async Task OnHideModalClick()
	{
		await modal?.HideAsync();
	}

	private async Task OnSaveChanges() {
		var valid = await institutionSettingsComponent.Submit();

		if (valid.Item1)
		{
			AddDistanceCAlculationToInstitution(valid.Item2.Koordinates.lat, valid.Item2.Koordinates.lng);
			await localStorage.SetItemAsync("locationFilter", valid.Item2);


			await modal?.HideAsync();
		}
    }


	private InstitutionFilterSettings filterSettings = new InstitutionFilterSettings
		{
			SearchFromAdressName = "Initial Value"
			// Initialize other properties as needed
		};
}